* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.164);
    padding: 10px 20px;
}

figure img {
    width: 150px;
    display: block;
}

figure img:hover {
    transform: scale(110%);
    transition: all 0.3s ease;
    cursor: pointer;
}

.nav-menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    gap: 60px;
}

nav ul li a {
    font-size: 24px;
    font-weight: 500;
    color: #1f1f1f;
    text-transform: uppercase;
    text-decoration: none;
    border: solid 2px #1f1f1f00;
    border-radius: 4px;
    padding: 6px 14px;
    transition: border-color 0.3s ease-in-out;
}

nav ul li a:hover {
    color: #fff;
    background-color: #1f1f1f;
    border: 2px solid #1f1f1f;
    border-radius: 4px;
    padding: 6px 14px;
    transition: all 0.3s ease-in-out;
}

nav ul li a:active {
    color: #1f1f1f;
}

nav ul li .btn-contato {
    font-size: 24px;
    font-weight: 500;
    color: #1f1f1f;
    text-transform: uppercase;
    text-decoration: none;
    border: solid 2px #1f1f1f;
    border-radius: 4px;
    padding: 6px 14px;
    cursor: pointer;
    background-color: #fff;
}

.btn-contato:hover {
    background-color: #1f1f1f;
    color: #fff;
    transition: all 0.3s ease-in-out;
}

section {
    background-image: url('/estudo/desafios/desafio2 menu/img/7162596-bela-montanha-azul-paisagem-com-nascer-e-por-do-sol-nas-montanhas-fundo-noite-escuro-tempo-exterior-e-caminhada-conceito-sol-no-ceu-bom-para-papel-de-parede-site-banner-capa-poster-gratis-vetor.jpg');
    background-color: #1f1f1f6c;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 120px 15px;
}

section h1 {
    font-size: 60px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
}

section p {
    font-size: 24px;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    line-height: 1.6;
    max-width: 800px;
    padding-bottom: 20px;
}

.button-banner {
    font-size: 24px;
    font-weight: 500;
    color: #1f1f1f;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.3s ease;
    border: solid 2px #ffffff;
    border-radius: 4px;
    padding: 6px 14px;
    cursor: pointer;
    background-color: #fff;
}

.button-banner:hover {
    background-color: #ffffff;
    color: #1f1f1f;
    transition: all 0.5s ease;
    transform: scale(115%);
}

/* media query tamanho de tela menor para tablet */
@media (max-width: 840px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    figure img {
        width: 100px;
    }

    nav ul {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin: 20px 0px 20px 0px;
    }

    nav ul li a {
        font-size: 18px;
    }

    nav ul li .btn-contato {
        font-size: 18px;
    }

    section {
        height: auto;
    }

    section h1 {
        margin-top: 60px;
        font-size: 40px;
    }
}


/* media query tamanho de tela menor para celular mobile */
@media (max-width: 550px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    figure img {
        width: 100px;
    }

    nav ul {
        flex-direction: column;
        gap: 20px;
        margin: 20px 0px 20px 0px;
    }

    nav ul li a {
        font-size: 18px;
    }

    nav ul li .btn-contato {
        font-size: 18px;
    }

    section {
        height: auto;
    }

    section h1 {
        margin-top: 20px;
        font-size: 34px;
    }

    section p {
        font-size: 18px;
    }

    section .button-banner {
        font-size: 18px;
    }
}